<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styleDetalhe.css">
    <title>Cuide Bem</title>
</head>
<body>
    <h1>Informações</h1>
        
        <div class = "infoContainer">
            <p>Nome: <%= user.nome %></p>
            <p>CPF: <%= user.cpf %></p>
            <p>Data de Nascimento: <%= user.data %></p>
            <p>SUS: <%= user.sus %></p>
            <p>Contato: <%= user.tel %></p>
            <p>Relatório: <%= user.desc %></p>
            <p class="voltar"><a href="/users">⬅⬅</a></p>     
        
        </div>
</body>
</html>